@import '../../styles/_index.less';

.tile {
    min-width: 100px;
    min-height: 100px;
    box-sizing: border-box;
    background-color: #ffbf80;
    border-style: solid;
    border-width: 1px;
    border-color:  rgba(0,0,0,0.13);
    box-shadow: inset 0px 0px 30px 22px rgba(0,0,0,0.11);
}