@import '../styles/_index.less';

.game {
    display: flex;
    flex-direction: row;
}

.game-side {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 300px;
    margin-right: 10px;
}